<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Restaurant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
</head>
<body>

<header>
    <h1 id = "ol">ONLINE</h1>
    <h1>RESTAURANT</h1>
</header>

<section class="hero">
    <img src="http://127.0.0.1:5000/static/img/dish.png" alt="Delicious Food">
    <div class="hero-content">
        <h2>Delicious Food</h2>
        <p>Experience a blend of world cuisines with our futuristic online restaurant. Order now or explore our diverse menu!</p>
        <a href="menu" class="btn">View Menu</a>
    </div>
</section>

<section class="features">
    <div class="feature">
        <h3>Special Offer</h3>
        <p>Get 50% OFF on your first order!</p>
    </div>
    <div class="feature">
        <h3>Book a Table</h3>
        <p>Reserve your spot at our futuristic dining area.</p>
    </div>
    <div class="feature">
        <h3>Healthy Choices</h3>
        <p>Fresh ingredients, vibrant flavors, healthy options.</p>
    </div>
</section>
<button></button>
</body>
</html>