<!DOCTYPE html>
<html lang="uk">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <body>
        <header>
            <div id="ol">Menu</div>
            <h1>Welcome to Our Restaurant</h1>
        </header>
        <div class="menu-container">
            <div class="menu-item">
                <img src="http://127.0.0.1:5000/static/img/dish1.jpg" alt="Dish 1">
                <h2>Dish 1</h2>
                <p>Description of Dish 1.</p>
                <p class="price">$10.00</p>
                <a href="buy_now.html" class="btn">Order Now</a>
            </div>

            <div class="menu-item">
                <img src="http://127.0.0.1:5000/static/img/dish2.jpg" alt="Dish 2">
                <h2>Dish 2</h2>
                <p>Description of Dish 2.</p>
                <p class="price">$18.00</p>
                <a href="buy_now.html" class="btn">Order Now</a>
            </div>

            <div class="menu-item">
                <img src="http://127.0.0.1:5000/static/img/dish3.jpg" alt="Dish 3">
                <h2>Dish 3</h2>
                <p>Description of Dish 3.</p>
                <p class="price">$20.00</p>
                <a href="buy_now.html" class="btn">Order Now</a>
            </div>

            <div class="menu-item">
                <img src="http://127.0.0.1:5000/static/img/dish4.jpg" alt="Dish 4">
                <h2>Dish 4</h2>
                <p>Description of Dish 4.</p>
                <p class="price">$21.00</p>
                <a href="buy_now.html" class="btn">Order Now</a>
            </div>

            <div class="menu-item">
                <img src="http://127.0.0.1:5000/static/img/drinck1.png" alt="Drink 5" width = "200" height = "500">
                <h2>Dish 5</h2>
                <p>Description of Dish 5.</p>
                <p class="price">$6.00</p>
                <a href="buy_now.html" class="btn">Order Now</a>
            </div>

            <div class="menu-item">
                <img src="http://127.0.0.1:5000/static/img/drinck2.png" alt="Drink 6" width = "200" height = "500">
                <h2>Dish 6</h2>
                <p>Description of Dish 6.</p>
                <p class="price">$7.00</p>
                <a href="buy_now.html" class="btn">Order Now</a>
            </div>
        </div>
        <footer>
            <p>&copy; 2025 Online Restaurant. All rights reserved.</p>
            <p><a href="home" class="btn">Back to Home</a></p>
        </footer>
    </body>
</html>
